<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoying.apartment.dao.GoodMapper">
    <select id="queryGoodPage" parameterType="java.util.Map" resultType="com.luoying.apartment.pojo.Good">
        select tg.*,tgc.good_category_name,td.dormitory_num,ta.apartment_name,ts.student_name
        from tb_good tg
        left join tb_good_category tgc on tg.good_category_id = tgc.id
        left join tb_dormitory td on tg.dormitory_id= td.id
        left join tb_student ts on tg.student_id = ts.id
        left join tb_apartment ta on tg.apartment_id =ta.id
        where 1=1
        <if test="studentName!= null and studentName != '' ">
            and ts.student_name like CONCAT('%',#{studentName},'%')
        </if>
        <if test="goodCategoryId !=null and goodCategoryId !='' ">
            and tg.good_category_id = #{goodCategoryId}
        </if>
        <if test="dormitoryNum!=null and dormitoryNum != '' ">
            and td.dormitory_num=#{dormitoryNum}
        </if>
        <if test="apartmentId!=null and apartmentId != '' ">
            and ta.id =#{apartmentId}
        </if>
        order by tg.create_date desc
        limit #{beginIndex},#{limit}
    </select>

    <select id="queryGoodPageCount" parameterType="java.util.Map" resultType="int">
        select count(*) from tb_good tg
        left join tb_good_category tgc on tg.good_category_id = tgc.id
        left join tb_dormitory td on tg.dormitory_id= td.id
        left join tb_student ts on tg.student_id = ts.id
        left join tb_apartment ta on tg.apartment_id =ta.id
        where 1=1
        <if test="studentName!= null and studentName != '' ">
            and ts.student_name like CONCAT('%',#{studentName},'%')
        </if>
        <if test="goodCategoryId !=null and goodCategoryId !='' ">
            and tg.good_category_id = #{goodCategoryId}
        </if>
        <if test="dormitoryNum!=null and dormitoryNum != '' ">
            and td.dormitory_num=#{dormitoryNum}
        </if>
        <if test="apartmentId!=null and apartmentId != '' ">
            and ta.id =#{apartmentId}
        </if>
    </select>
    <select id="queryGoodById" parameterType="Long" resultType="com.luoying.apartment.pojo.Good">
        select tg.*,tgc.good_category_name,td.dormitory_num,ta.apartment_name,ts.student_name
        from tb_good tg
        left join tb_good_category tgc on tg.good_category_id = tgc.id
        left join tb_dormitory td on tg.dormitory_id= td.id
        left join tb_student ts on tg.student_id = ts.id
        left join tb_apartment ta on tg.apartment_id =ta.id
        where tg.id = #{id}
    </select>
</mapper>
