<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoying.apartment.dao.PeopleMapper">
    <select id="queryPeoplePage" parameterType="java.util.Map" resultType="com.luoying.apartment.pojo.People">
        select tp.*,ts.student_name,td.dormitory_num,ta.apartment_name,bed.bed_num from
        tb_people tp
        left join tb_student ts on ts.id = tp.student_id
        left join tb_dormitory td on ts.dormitory_id = td.id
        left join tb_apartment ta on td.apartment_id = ta.id
        left join tb_bed bed on ts.bed_id = bed.id
        where 1=1
        <if test="createDate!=null and createDate!=''">
            and (tp.create_date between  date_sub(DATE_FORMAT(#{createDate},'%Y-%m-%d %H:%i:%s'), interval 1 hour)  and date_add(DATE_FORMAT(#{createDate},'%Y-%m-%d %H:%i:%s'), interval 1 hour))
        </if>
        <if test="studentId!=null and studentId!=''">
            and tp.student_id = #{studentId}
        </if>
        <if test="peopleName!=null and peopleName!=''">
            and tp.people_name like CONCAT('%',#{peopleName},'%')
        </if>
        order by create_date desc
        limit #{beginIndex},#{limit}
    </select>
    <select id="queryPeopleCount" parameterType="java.util.Map" resultType="int">
        select count(*) from tb_people tp
        left join tb_student ts on ts.id = tp.student_id
        where 1=1
        <if test="createDate!=null and createDate!=''">
            and (tp.create_date between  date_sub(DATE_FORMAT(#{createDate},'%Y-%m-%d %H:%i:%s'), interval 1 hour)  and date_add(DATE_FORMAT(#{createDate},'%Y-%m-%d %H:%i:%s'), interval 1 hour))
        </if>
        <if test="studentId!=null and studentId!=''">
            and tp.student_id = #{studentId}
        </if>
        <if test="peopleName!=null and peopleName!=''">
            and tp.people_name like CONCAT('%',#{peopleName},'%')
        </if>
    </select>
    <select id="queryPeopleById" parameterType="Long" resultType="com.luoying.apartment.pojo.People">
         select tp.*,ts.student_name,td.dormitory_num,ta.apartment_name,bed.bed_num from
        tb_people tp
        left join tb_student ts on ts.id = tp.student_id
        left join tb_dormitory td on ts.dormitory_id = td.id
        left join tb_apartment ta on td.apartment_id = ta.id
        left join tb_bed bed on ts.bed_id = bed.id
        where tp.id= #{id}
    </select>
</mapper>
