<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoying.apartment.dao.UserMapper">
    <select id="getUserPage" parameterType="java.util.Map" resultType="com.luoying.apartment.pojo.User">
        select tu.*,ts.student_name,ts.department,ts.clazz,ts.sex
        from tb_user tu
        left join tb_student ts on ts.id = tu.student_id
        where 1=1
        <if test="studentName!=null and studentName!=''">
            and ts.student_name = #{studentName}
        </if>
        <if test="username!=null and username!=''">
            and tu.username = #{username}
        </if>
        <if test="userType!=null and userType!=''">
            and tu.user_type = #{userType}
        </if>
        order by tu.id desc
        limit #{beginIndex},#{limit}
    </select>
    <select id="getUserPageCount" parameterType="java.util.Map" resultType="int">
        select count(*) from tb_user tu
        left join tb_student ts on ts.id = tu.student_id
        where 1=1
        <if test="studentName!=null and studentName!=''">
            and ts.student_name = #{studentName}
        </if>
        <if test="username!=null and username!=''">
            and tu.username = #{username}
        </if>
        <if test="userType!=null and userType!=''">
            and tu.user_type = #{userType}
        </if>
    </select>
    <select id="getUserById" parameterType="Long" resultType="com.luoying.apartment.pojo.User">
         select tu.*,ts.student_name,ts.department,ts.clazz,ts.sex
        from tb_user tu
        left join tb_student ts on ts.id = tu.student_id
        where tu.id = #{id}
    </select>
</mapper>
